footer.g-footer(role="contentinfo")

  .container

    a.g-footer-logo(href="#")

    .g-footer-links
      ul
        li: a(href="#") Privacy Policy
        li: a(href="#") Terms &amp; Conditions
        li: a(href="#") About <span>This Site</span>
        li: a(href="#") Merimart News
        li: a(href="#") Investor Relations

    .g-footer-copyright
      p: small Copyright 2016 Metrimart, Inc. <span>Metrimart, the Circle M Design, and The M Spot are trademarks of Merimart, Inc. All Right Reserved</span>