.button {
  border-radius: 5px;
  text-align: center;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  background-color: $color--gray;
  display: inline-block;
  white-space: nowrap;

  &--action {
    background-color: $color--secondary;
  }

  &--info {
    background-color: $color--secondary;
  }
}